body {
    margin-left: 5px;
    background-color: #9ee28d;
}
#text_top{
    text-align: left;
    margin-left: 20px;
    color: #ff1f62;
}
.menu{
    display: flex;
    width: 100%;
}
.item{
    flex: 1;
    text-align: center;
    border: 2px solid #5ed4cb;
    font-size: clamp(11px,1.2vw,16px);
    color: blue;
    text-decoration: none;
    font-weight: bold;
    background-color: #bbeeea;
    border-right: 1px solid #04aab6;
    border-left: 1px solid #04aab6;
}
.item:hover{
    color: #8717f0;
    text-decoration: underline;
}
.now{
    border: 2px solid #ffa023;
    background-color: #fdd07c;
}
#maleLabel,#femaleLabel,#ageVar {
    width: 1300px;
    padding: 8px;
    font-size: 16px;
}
#horixix-Max,#horixix-scale{
    width: 350px;
}
.section-title{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
}
.theme{
    font-weight: bold;
}
#codeOutput {
    display: block;
    width: 100%;
    margin-top: 20px;
    height: 300px;
}
#generateBtn,
#copyBtn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}